
<div class="container mt-4" >
  <h1>Password Manager</h1> <small>V 1.00</small>
  <hr>

Password manager is an application that serve as the solution for maintaining a large number of passwords and account information. it stores the login information of the various system accounts and automatically enter them into the forms. This helps in the prevention of hacker attacks like keystroke logging and it prevents the need to remember multiple passwords.

Password managers enable the use of strong and unique passwords for each online or network system accounts and provide an efficient way to manage all the passwords. The login information is encrypted and stored in either the local memory of the user’s system or in cloud storage. Portable password manager applications installed in mobile devices can also be used as a way to manage and remember passwords anywhere and use them on shared systems.

</div>
