
<div class="container mt-4" >
    <h3>About page</h3>
    <hr>
    <div class="body body-card">
    <i class="fa fa-plus" data-toggle="collapse" data-target="#collapseDiv" aria-hidden="true" style="font-size: 20px; color:blue;"> Registration</i>
     <div id="collapseDiv" class="collapse">
    Register into the system by clicking on the Register Link on your right Hand top side to have access to the system<br>
    You can Login into the system after registering, Logining in will give you access to your system store <br>
    Where you can store all your system passwords<important>Note:</important>Note that your information can only be accessed when you login into you account which means <br>
    all your system informations are confidential and safe to be known by only you.
  </div>
    <hr>
</div>
   <div class="body body-card">
    <i class="fa fa-plus" data-toggle="collapse" data-target="#collapseDiv2" aria-hidden="true" style="font-size: 20px; color:blue;"> System Info</i>
     <div id="collapseDiv2" class="collapse">
         <h3>What about The system ?</h3>
    Password Manager is Basically a system that is used to store passwords for systems within an Organisation<br>
    <h3>Importance</h3>
    this system actes as a reminder to a user whoo has got very many system accounts , so this helps him or her to manage them in one location and they are all easily retrived becouse they are safe.
  </div>
    <hr>
</div>
</div>
