


<div class="maincontent">

    <div class="password_enrty_div mb-1">
        <div class="row m-1">
            <button type="button" class="btn btn-outline-primary col-1" data-toggle="collapse"
                data-target="#password_input">Add Info <i class='fas fa-angle-right'></i></button>
            <div id="password_input" class="collapse col-10">
                {{!-- start of input form --}}
                <form action="/passwords" method="post"> 
                    <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormSystemName">System Name</label>
                            <input type="text" name="systemName" class="form-control" placeholder="System Name" />
                        </div>
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                            <div class="input-group">
                                <input type="text" name="userName" class="form-control"
                                    id="inlineFormInputGroupUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormInputpassWord">Password</label>
                            <div class="input-group">
                                <input type="text" name="passWord" class="form-control" id="inlineFormInputpassWord"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="col-1 my-1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form> 
                {{!-- end of input form --}}
            </div>
        </div>
                   {{!-- catering for server side errors --}}
        {{#each errors}}
        <div class="alert alert-danger">{{text}}</div>
        {{else}}
        {{/each }}
        <hr>
    </div>
    

    