<div class="container mt-4">
  <h3>User Manual Of The Applicatin</h3>
  <hr>
  <div class="body body-card">
    <i class="fa fa-plus" data-toggle="collapse" data-target="#collapseDiv" aria-hidden="true"
      style="font-size: 20px; color:#007BFF;"> ( Register )</i>
    <div id="collapseDiv" class="collapse">
      <center>
        Register into the system by clicking on the Register Link on your right Hand top side to have access to the
        system<br>

      </center>
      <img src="img/reggister.png" alt="register-shoot" style="width:95%; align:center;">
    </div>
    <hr>
  </div>
  <div class="body body-card">
    <i class="fa fa-plus" data-toggle="collapse" data-target="#collapseDiv2" aria-hidden="true"
      style="font-size: 20px; color:#007BFF;"> (Login)</i>
    <div id="collapseDiv2" class="collapse">
      <h3>Login into the system</h3>
      <center>
        You can Login into the system after registering, Logining in will give you access to your system store <br>
        Where you can store all your system passwords<important>Note:</important>Note that your information can only be
        accessed when you login into you account which means <br>
        all your system informations are confidential and safe to be known by only you.
      </center>
      <hr>
      <img src="img/login.png" alt="Login-shoot" style="width:95%; align:center;">


    </div>
    <hr>
    
  </div>
   <div class="body body-card">
    <i class="fa fa-plus" data-toggle="collapse" data-target="#collapseDiv3" aria-hidden="true"
      style="font-size: 20px; color:#007BFF; font-weight:lighter;"> (Add & Save Passwords)</i>
    <div id="collapseDiv3" class="collapse">
      <h3>Add and Save</h3>
      <center>
       To add your system name ,username and password informations , click on the Add link on your top left hand side screen and fill in all that is required ffor your system info. and submit.
      </center>
      <hr>
      <img src="img/add-password.png" alt="Login-shoot" style="width:95%; align:center;">


    </div>
    <hr>
    
  </div>
</div>