body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
  border: none;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

table {
  font-family: "Calibri";
  font-size: 15px;
  background-color: #fff;
  color: #333;
}
.modal-header {
  background-color: #333;
  color: #fff;
}

.logo{
  width:80px;
  margin: auto;
}