<div class="row mt-5">
    <div class=" col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto mt-4">
        <card class="card card-body" id="" style="margin-top: 80px;">
            <img class="logo" src="/img/key_logo.png" alt="Password Manager Logo">
            <hr>
            <form method="POST" action="/users/login">
                <div class="form-group">

                    <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required>
                </div>
                <div class="form-group">

                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </card>
    </div>
</div>
<div class="row pull-right m-2" style="margin-bottom: 300px;">
    Abc Capital Bank &nbsp | &nbsp <small>1.0</small>
</div>