<div class="row mt-5">
    <div class="col-5 mx-auto mt-4">
        <card class="card card-body" id="logindiv">
            <img class="logo" src="/img/key_logo.png" alt="Password Manager Logo">
            <div class="card card-body" id="logginheading">
                <h5 class="text-center">Password Manager Login</h5>
            </div>
            <hr>
            <form method="POST" action="/users/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </card>
    </div>
</div>